In [1]:
import pandas as pd 
from task_03_JavlievSA_get_dummies_impl import get_dummies
import numpy as np

Test1: Should Series is empty

In [2]:
s = pd.Series(list(''))
table = get_dummies(s)
if table == 'Data not have elements':
    print('Test Passed')
else: print('Test Fail')

Test Passed
<ipython-input-2-cf5d187cd9d6>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series(list(''))

Test2: Should Series is simple test with 4 values

In [3]:
s = pd.Series(list('abcded'))
table_my = get_dummies(s)
table_pandas = pd.get_dummies(s)
display(table_my, table_pandas)

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  0  0  0  1  0

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  0  0  0  1  0

Test3: Should Series with spacing

In [4]:
s = pd.Series(list('abc ded'))
table_my = get_dummies(s)
table_pandas = pd.get_dummies(s)
display(table_my, table_pandas)

      a  b  c  d  e
0  0  1  0  0  0  0
1  0  0  1  0  0  0
2  0  0  0  1  0  0
3  1  0  0  0  0  0
4  0  0  0  0  1  0
5  0  0  0  0  0  1
6  0  0  0  0  1  0

      a  b  c  d  e
0  0  1  0  0  0  0
1  0  0  1  0  0  0
2  0  0  0  1  0  0
3  1  0  0  0  0  0
4  0  0  0  0  1  0
5  0  0  0  0  0  1
6  0  0  0  0  1  0

Test4: Should Series with prefix param

In [5]:
s = pd.Series(list('abc ded'))
table_my = get_dummies(s, prefix='lol')
table_pandas = pd.get_dummies(s, prefix='lol')
display(table_my, table_pandas)

   lol_   lol_a  lol_b  lol_c  lol_d  lol_e
0      0      1      0      0      0      0
1      0      0      1      0      0      0
2      0      0      0      1      0      0
3      1      0      0      0      0      0
4      0      0      0      0      1      0
5      0      0      0      0      0      1
6      0      0      0      0      1      0

   lol_   lol_a  lol_b  lol_c  lol_d  lol_e
0      0      1      0      0      0      0
1      0      0      1      0      0      0
2      0      0      0      1      0      0
3      1      0      0      0      0      0
4      0      0      0      0      1      0
5      0      0      0      0      0      1
6      0      0      0      0      1      0

Test5: Should Series with dtype param

In [6]:
s = pd.Series(list('abcdedabfggb'))
table_my = get_dummies(s, dtype=np.float32)
table_pandas = pd.get_dummies(s, dtype=np.float32)
display(table_my, table_pandas)

      a    b    c    d    e    f    g
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  1.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  1.0  0.0  0.0
5   0.0  0.0  0.0  1.0  0.0  0.0  0.0
6   1.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  1.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  1.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  1.0
10  0.0  0.0  0.0  0.0  0.0  0.0  1.0
11  0.0  1.0  0.0  0.0  0.0  0.0  0.0

      a    b    c    d    e    f    g
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  1.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  1.0  0.0  0.0
5   0.0  0.0  0.0  1.0  0.0  0.0  0.0
6   1.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  1.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  1.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  1.0
10  0.0  0.0  0.0  0.0  0.0  0.0  1.0
11  0.0  1.0  0.0  0.0  0.0  0.0  0.0

Test6: Should list with simple test

In [7]:
s1 = ['a', 'b', 'c']
table_my = get_dummies(s1)
table_pandas = pd.get_dummies(s1,)
display(table_my, table_pandas)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1

Test7: Should List with nan element

In [8]:
s1 = ['a', 'b', np.nan]
table_my = get_dummies(s1)
table_pandas = pd.get_dummies(s1,)
display(table_my, table_pandas)

   a  b
0  1  0
1  0  1
2  0  0

   a  b
0  1  0
1  0  1
2  0  0

Test8: Should list with nan element and show Nan Column

In [9]:
s1 = ['a', 'b', np.nan]
table_my = get_dummies(s1, dummy_na=True)
table_pandas = pd.get_dummies(s1, dummy_na=True)
display(table_my, table_pandas)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

Test9: Should list without nan element but show Nan Column

In [10]:
s1 = ['a', 'b', 'c']
table_my = get_dummies(s1, dummy_na=True)
table_pandas = pd.get_dummies(s1, dummy_na=True)
display(table_my, table_pandas)

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  1    0

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  1    0

Test10: Should list have some nan elements and show nan column

In [11]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, dummy_na=True)
table_pandas = pd.get_dummies(s1, dummy_na=True)
display(table_my, table_pandas)

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  0    1
3  1  0  0    0
4  0  1  0    0
5  0  0  1    0
6  0  0  0    1

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  0    1
3  1  0  0    0
4  0  1  0    0
5  0  0  1    0
6  0  0  0    1

Test11: Should List have some nan elements and show nan column and add prefix with prefix_sep param

In [12]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, prefix='lol', prefix_sep=' xaxa ', dummy_na=True)
table_pandas = pd.get_dummies(s1, prefix='lol', prefix_sep=' xaxa ', dummy_na=True)
display(table_my, table_pandas)

   lol xaxa a  lol xaxa b  lol xaxa c  lol xaxa nan
0           1           0           0             0
1           0           1           0             0
2           0           0           0             1
3           1           0           0             0
4           0           1           0             0
5           0           0           1             0
6           0           0           0             1

   lol xaxa a  lol xaxa b  lol xaxa c  lol xaxa nan
0           1           0           0             0
1           0           1           0             0
2           0           0           0             1
3           1           0           0             0
4           0           1           0             0
5           0           0           1             0
6           0           0           0             1

Test12: Shoul List have Some nan elements and show nan column with dtype=dfloat32 param

In [13]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, dummy_na=True, dtype=np.float32)
table_pandas = pd.get_dummies(s1, dummy_na=True, dtype=np.float32)
display(table_my, table_pandas)

     a    b    c  NaN
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0
4  0.0  1.0  0.0  0.0
5  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  1.0

     a    b    c  NaN
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0
4  0.0  1.0  0.0  0.0
5  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  1.0

Test13: Should List have only numbers

In [14]:
s1 = [1, 2, 3]
table_my = get_dummies(s1)
table_pandas = pd.get_dummies(s1)
display(table_my, table_pandas)

   1  2  3
0  1  0  0
1  0  1  0
2  0  0  1

   1  2  3
0  1  0  0
1  0  1  0
2  0  0  1

Test14: Should List have only numbers and show nan column with add Prefix param and dtype param

In [15]:
s1 = [1, 2, 3]
table_my = get_dummies(s1, dummy_na=True, dtype=np.float32, prefix='lol')
table_pandas = pd.get_dummies(s1, dummy_na=True, dtype=np.float32, prefix='lol')
display(table_my, table_pandas)

   lol_1.0  lol_2.0  lol_3.0  lol_nan
0      1.0      0.0      0.0      0.0
1      0.0      1.0      0.0      0.0
2      0.0      0.0      1.0      0.0

   lol_1.0  lol_2.0  lol_3.0  lol_nan
0      1.0      0.0      0.0      0.0
1      0.0      1.0      0.0      0.0
2      0.0      0.0      1.0      0.0

Test15: Should Drop First param

In [16]:
s = pd.Series(list('abcded'))
table_my = get_dummies(s, drop_first=True)
table_pandas = pd.get_dummies(s, drop_first=True)
display(table_my, table_pandas)

   b  c  d  e
0  0  0  0  0
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0
4  0  0  0  1
5  0  0  1  0

   b  c  d  e
0  0  0  0  0
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0
4  0  0  0  1
5  0  0  1  0

Test16: Should Drop First param if have some nan elements, dummy_na Param and dtype param

In [17]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, drop_first=True, dummy_na=True, dtype=np.float32)
table_pandas = pd.get_dummies(s1, drop_first=True, dummy_na=True, dtype=np.float32)
display(table_my, table_pandas)

     b    c  NaN
0  0.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  0.0
4  1.0  0.0  0.0
5  0.0  1.0  0.0
6  0.0  0.0  1.0

     b    c  NaN
0  0.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  0.0
4  1.0  0.0  0.0
5  0.0  1.0  0.0
6  0.0  0.0  1.0

Test17: Should Sort Table and have unusual elements

In [18]:
s1 = ['male', 'female', 'male', 'male']
table_my = get_dummies(s1)
table_pandas = pd.get_dummies(s1)
display(table_my, table_pandas)

   female  male
0       0     1
1       1     0
2       0     1
3       0     1

   female  male
0       0     1
1       1     0
2       0     1
3       0     1

Test18: Should DataFrame Processing

In [19]:
df = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [1, 2, 3], 'C': [1, 'k', np.nan], 'D': [2, 1, 2]})
table_my = get_dummies(df, dummy_na=True, drop_first=True)
table_pandas = pd.get_dummies(df, dummy_na=True, drop_first=True)
display(table_my, table_pandas)

   B  D  A_b  A_c  A_nan  C_k  C_nan
0  1  2    0    0      0    0      0
1  2  1    1    0      0    1      0
2  3  2    0    1      0    0      1

   B  D  A_b  A_c  A_nan  C_k  C_nan
0  1  2    0    0      0    0      0
1  2  1    1    0      0    1      0
2  3  2    0    1      0    0      1

Test19: Should Series Processing From DataFrame

In [20]:
df = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [1, 2, 3], 'C': [1, 'k', np.nan], 'D': [2, 1, 2]})
table_my = get_dummies(df['A'], dummy_na=True, drop_first=True)
table_pandas = pd.get_dummies(df['A'], dummy_na=True, drop_first=True)
display(table_my, table_pandas)

   b  c  NaN
0  0  0    0
1  1  0    0
2  0  1    0

   b  c  NaN
0  0  0    0
1  1  0    0
2  0  1    0

Test20: Should Columns Param in DataFrame

In [21]:
df = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [1, 2, 3], 'C': [1, 'k', np.nan], 'D': [2, 1, 2]})
table_my = get_dummies(df, columns=['D', 'A', 'B'], dummy_na=True,)
table_pandas = pd.get_dummies(df, columns=['D', 'A', 'B'], dummy_na=True,)
display(table_my, table_pandas)

     C  D_1.0  D_2.0  D_nan  A_a  A_b  A_c  A_nan  B_1.0  B_2.0  B_3.0  B_nan
0    1      0      1      0    1    0    0      0      1      0      0      0
1    k      1      0      0    0    1    0      0      0      1      0      0
2  NaN      0      1      0    0    0    1      0      0      0      1      0

     C  D_1.0  D_2.0  D_nan  A_a  A_b  A_c  A_nan  B_1.0  B_2.0  B_3.0  B_nan
0    1      0      1      0    1    0    0      0      1      0      0      0
1    k      1      0      0    0    1    0      0      0      1      0      0
2  NaN      0      1      0    0    0    1      0      0      0      1      0

Test21: Should Array with more dimensions

In [22]:
arr = np.array([['a', '1', '2']])
error_mes = get_dummies(arr)
error = 'Data must be 1-dimensional'
if error == error_mes:
    print('Test Passed')

Test Passed

Test22: Should Array Processing

In [23]:
arr = np.array(['a', '1', '2', '3'])
table_my = get_dummies(arr)
table_pandas = pd.get_dummies(arr)
display(table_my, table_pandas)

   1  2  3  a
0  0  0  0  1
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0

   1  2  3  a
0  0  0  0  1
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0