In [1]:
import pandas as pd 
from get_dumies_impl import get_dummies
import numpy as np

In [2]:
s = pd.Series(list(''))
table = get_dummies(s)
if table == 'Data not have elements':
    print('Test Passed')
else: print('Test Fail')

Test Passed
<ipython-input-2-cf5d187cd9d6>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series(list(''))

In [3]:
s = pd.Series(list('abcded'))
table_my = get_dummies(s)
table_pandas = pd.get_dummies(s)
display(table_my, table_pandas)

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  0  0  0  1  0

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  0  0  0  1  0

In [4]:
s = pd.Series(list('abc ded'))
table_my = get_dummies(s, prefix='lol')
table_pandas = pd.get_dummies(s, prefix='lol')
display(table_my, table_pandas)

   lol_a  lol_b  lol_c  lol_   lol_d  lol_e
0      1      0      0      0      0      0
1      0      1      0      0      0      0
2      0      0      1      0      0      0
3      0      0      0      1      0      0
4      0      0      0      0      1      0
5      0      0      0      0      0      1
6      0      0      0      0      1      0

   lol_   lol_a  lol_b  lol_c  lol_d  lol_e
0      0      1      0      0      0      0
1      0      0      1      0      0      0
2      0      0      0      1      0      0
3      1      0      0      0      0      0
4      0      0      0      0      1      0
5      0      0      0      0      0      1
6      0      0      0      0      1      0

In [5]:
s = pd.Series(list('abcdedabfggb'))
table_my = get_dummies(s, dtype=np.float32)
table_pandas = pd.get_dummies(s, dtype=np.float32)
display(table_my, table_pandas)

      a    b    c    d    e    f    g
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  1.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  1.0  0.0  0.0
5   0.0  0.0  0.0  1.0  0.0  0.0  0.0
6   1.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  1.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  1.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  1.0
10  0.0  0.0  0.0  0.0  0.0  0.0  1.0
11  0.0  1.0  0.0  0.0  0.0  0.0  0.0

      a    b    c    d    e    f    g
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  1.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  1.0  0.0  0.0
5   0.0  0.0  0.0  1.0  0.0  0.0  0.0
6   1.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  1.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  1.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  1.0
10  0.0  0.0  0.0  0.0  0.0  0.0  1.0
11  0.0  1.0  0.0  0.0  0.0  0.0  0.0

In [6]:
s1 = ['a', 'b', np.nan]
table_my = get_dummies(s1)
table_pandas = pd.get_dummies(s1,)
display(table_my, table_pandas)

   a  b
0  1  0
1  0  1
2  0  0

   a  b
0  1  0
1  0  1
2  0  0

In [7]:
s1 = ['a', 'b', np.nan]
table_my = get_dummies(s1, dummy_na=True)
table_pandas = pd.get_dummies(s1, dummy_na=True)
display(table_my, table_pandas)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [8]:
s1 = ['a', 'b', 'c']
table_my = get_dummies(s1, dummy_na=True)
table_pandas = pd.get_dummies(s1, dummy_na=True)
display(table_my, table_pandas)

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  1    0

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  1    0

In [9]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, dummy_na=True)
table_pandas = pd.get_dummies(s1, dummy_na=True)
display(table_my, table_pandas)

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  0    1
3  1  0  0    0
4  0  1  0    0
5  0  0  1    0
6  0  0  0    1

   a  b  c  NaN
0  1  0  0    0
1  0  1  0    0
2  0  0  0    1
3  1  0  0    0
4  0  1  0    0
5  0  0  1    0
6  0  0  0    1

In [10]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, prefix='lol', prefix_sep=' xaxa ', dummy_na=True)
table_pandas = pd.get_dummies(s1, prefix='lol', prefix_sep=' xaxa ', dummy_na=True)
display(table_my, table_pandas)

   lol xaxa a  lol xaxa b  lol xaxa c  lol xaxa nan
0           1           0           0             0
1           0           1           0             0
2           0           0           0             1
3           1           0           0             0
4           0           1           0             0
5           0           0           1             0
6           0           0           0             1

   lol xaxa a  lol xaxa b  lol xaxa c  lol xaxa nan
0           1           0           0             0
1           0           1           0             0
2           0           0           0             1
3           1           0           0             0
4           0           1           0             0
5           0           0           1             0
6           0           0           0             1

In [11]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, dummy_na=True, dtype=np.float32)
table_pandas = pd.get_dummies(s1, dummy_na=True, dtype=np.float32)
display(table_my, table_pandas)

     a    b    c  NaN
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0
4  0.0  1.0  0.0  0.0
5  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  1.0

     a    b    c  NaN
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0
4  0.0  1.0  0.0  0.0
5  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  1.0

In [12]:
s1 = [1, 2, 3]
table_my = get_dummies(s1, dummy_na=True, dtype=np.float32, prefix='lol')
table_pandas = pd.get_dummies(s1, dummy_na=True, dtype=np.float32, prefix='lol')
display(table_my, table_pandas)

   lol_1.0  lol_2.0  lol_3.0  lol_nan
0      1.0      0.0      0.0      0.0
1      0.0      1.0      0.0      0.0
2      0.0      0.0      1.0      0.0

   lol_1.0  lol_2.0  lol_3.0  lol_nan
0      1.0      0.0      0.0      0.0
1      0.0      1.0      0.0      0.0
2      0.0      0.0      1.0      0.0

In [13]:
s = pd.Series(list('abcded'))
table_my = get_dummies(s, drop_first=True)
table_pandas = pd.get_dummies(s, drop_first=True)
display(table_my, table_pandas)

   b  c  d  e
0  0  0  0  0
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0
4  0  0  0  1
5  0  0  1  0

   b  c  d  e
0  0  0  0  0
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0
4  0  0  0  1
5  0  0  1  0

In [14]:
s1 = ['a', 'b', np.nan, 'a', 'b', 'c', np.nan]
table_my = get_dummies(s1, drop_first=True, dummy_na=True, dtype=np.float32)
table_pandas = pd.get_dummies(s1, drop_first=True, dummy_na=True, dtype=np.float32)
display(table_my, table_pandas)

     b    c  NaN
0  0.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  0.0
4  1.0  0.0  0.0
5  0.0  1.0  0.0
6  0.0  0.0  1.0

     b    c  NaN
0  0.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  0.0
4  1.0  0.0  0.0
5  0.0  1.0  0.0
6  0.0  0.0  1.0

In [15]:
s1[1]

'b'

In [16]:
s1 = ['male', 'female', 'male', 'male']
table_my = get_dummies(s1)
table_pandas = pd.get_dummies(s1)
display(table_my, table_pandas)

   male  female
0     1       0
1     0       1
2     1       0
3     1       0

   female  male
0       0     1
1       1     0
2       0     1
3       0     1

In [17]:
df = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [1, 2, 3], 'C': [1, 'k', np.nan], 'D': [2, 1, 2]})
table_my = get_dummies(df, dummy_na=True, drop_first=True)
table_pandas = pd.get_dummies(df, dummy_na=True, drop_first=True)
display(table_my, table_pandas)

   B  D  A_b  A_c  A_nan  C_k  C_nan
0  1  2    0    0      0    0      0
1  2  1    1    0      0    1      0
2  3  2    0    1      0    0      1

   B  D  A_b  A_c  A_nan  C_k  C_nan
0  1  2    0    0      0    0      0
1  2  1    1    0      0    1      0
2  3  2    0    1      0    0      1

In [18]:
df = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [1, 2, 3], 'C': [1, 'k', np.nan], 'D': [2, 1, 2]})
table_my = get_dummies(df, columns=['D', 'A', 'B'], dummy_na=True,)
table_pandas = pd.get_dummies(df, columns=['D', 'A', 'B'], dummy_na=True,)
display(table_my, table_pandas)

     C  D_2.0  D_1.0  D_nan  A_a  A_b  A_c  A_nan  B_1.0  B_2.0  B_3.0  B_nan
0    1      1      0      0    1    0    0      0      1      0      0      0
1    k      0      1      0    0    1    0      0      0      1      0      0
2  NaN      1      0      0    0    0    1      0      0      0      1      0

     C  D_1.0  D_2.0  D_nan  A_a  A_b  A_c  A_nan  B_1.0  B_2.0  B_3.0  B_nan
0    1      0      1      0    1    0    0      0      1      0      0      0
1    k      1      0      0    0    1    0      0      0      1      0      0
2  NaN      0      1      0    0    0    1      0      0      0      1      0

In [19]:
df = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [1, 2, 3], 'C': [1, 'k', np.nan], 'D': [2, 1, 2]})
df1 = pd.DataFrame(df)
df1 = df1.drop('A', axis=1)
df1

   B    C  D
0  1    1  2
1  2    k  1
2  3  NaN  2

In [20]:
arr = np.array([['a', '1', '2']])
error_mes = get_dummies(arr)
error = 'Data must be 1-dimensional'
if error == error_mes:
    print('Test Passed')

Test Passed

In [21]:
arr = np.array(['a', '1', '2', '3'])
table_my = get_dummies(arr)
table_pandas = pd.get_dummies(arr)
display(table_my, table_pandas)

   a  1  2  3
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1

   1  2  3  a
0  0  0  0  1
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0

In [22]:
[i[0] for i in sorted(enumerate(arr), key=lambda x:x[1])]

[1, 2, 3, 0]

In [23]:
arr

array(['a', '1', '2', '3'], dtype='<U1')

In [24]:
arr = sorted(arr)
arr

['1', '2', '3', 'a']

In [25]:
s1 = ['a', 'b', np.nan]
index = [i[0] for i in sorted(enumerate(s1), key=lambda x:x[1])]

TypeError: '<' not supported between instances of 'float' and 'str'

In [7]:
index

[0, 1, 2]